{% comment %}   Custom Gallery for PTA   {% endcomment %}

{% assign sample-items = site.data[site.metadata] | sample: 160 %}
{% assign first-half = sample-items | slice: 0, 80 %}
{% assign last-half = sample-items | slice: 80, 159 %}

<div class="gallery-container">
    <div id="animated-gallery">
        {%- for item in first-half -%}
        <div class="flip-item">
            <div class="flip-item-inner">
                <div class="flip-item-front" style="background-image: url('{{ item.image_thumb }}');"></div>
                <div class="flip-item-back" style="background-image: url('{{ last-half[forloop.index0].image_thumb }}');"></div>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <button id="gallery-animation-control" class="btn btn-secondary m-1 playing" data-action="stop" onclick="toggleAnimation('gallery-animation-control')"><span class="visually-hidden">Stop Animation </span><svg class="bi icon-sprite" aria-hidden="true"><use xlink:href="{{ '/assets/lib/icons/pause-fill.svg' | relative_url }}"/></svg></button>
</div>
<style>
    .gallery-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
    }

    #gallery-animation-control {
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #animated-gallery {
        line-height: 1px;
        width: 110%;
        max-height: 300px;
        overflow-y: hidden;
    }

    .flip-item {
        display: inline-block;
        height: 100px;
        width: 100px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        perspective: 1000px;
    }

    .flip-item-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do a horizontal flip when the "flipped" class is applied to the flip box container (via js) */
    .flip-item.flipped .flip-item-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-item-front, .flip-item-back {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-item-front {
        background-color: #000000;
    }

    /* Style the back side */
    .flip-item-back {
        background-color: #193f64;
        transform: rotateY(180deg);
    }
</style>

<script>
    function flipRandom() {
        var flipItems = document.getElementsByClassName("flip-item");
        var randomFlipItem = flipItems[Math.floor(Math.random() * flipItems.length)];
        randomFlipItem.classList.toggle("flipped");
    }

    var flipInterval = window.setInterval(function(){
        flipRandom();
    }, 3000);

    function toggleAnimation(target) {
        var toggle = document.getElementById(target);
        
        if (toggle.classList.contains("playing")) {
            // set flip interval to 0 to stop animation
            clearInterval(flipInterval);
            // update data-action and inner HTML of button
            toggle.setAttribute('data-action', 'start');
            toggle.innerHTML = '<span class="visually-hidden">Start Animation </span><svg class="bi icon-sprite" aria-hidden="true"><use xlink:href="{{ '/assets/lib/icons/play-fill.svg' | relative_url }}"/></svg>';
        } else {
            // set flip interval to 3000 to start animation
            flipInterval = window.setInterval(function(){
                flipRandom();
            }, 3000);
            // update data-action and inner HTML of button
            toggle.setAttribute('data-action', 'stop');
            toggle.innerHTML = '<span class="visually-hidden">Stop Animation </span><svg class="bi icon-sprite" aria-hidden="true"><use xlink:href="{{ '/assets/lib/icons/pause-fill.svg' | relative_url }}"/></svg>';
        }
        toggle.classList.toggle("playing");
    }

</script>