---
# Default leaflet map page
layout: default
custom-foot: js/map-js.html
---
<h2 class="visually-hidden">Map of Collection Items</h2>
#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin-bottom: 30px;
    margin-right: 10px;
    background: white;
    border-radius: 5px;
    padding; 5px 10px;
}
<div id="map">
    <div id="legend">
        Hard Eight: "#417505",
        Boogie Nights: "#F47804",
        Inherent Vice: "#7ED321",
        Licorice Pizza: "#F5D323",
        Magnolia: "#52322C",
        One Battle After Another: "#4290EB",
        Punch Drunk Love: "#BF4983",
        The Master: "#2D5787",
        There Will Be Blood: "#A10215",
        Phantom Thread: "#B65CE8"
    </div>
</div>

