---
layout: page-full-width
---


<head>
<!--[if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]--> <!-- js/default.js -->
  <script src="{{ '/assets/lib/sigma-network/js/jquery/jquery.min.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/lib/sigma-network/js/sigma/sigma.min.js' | relative_url }}" type="text/javascript" language="javascript"></script>
    <script src="{{ '/assets/lib/sigma-network/js/sigma/sigma.parseJson.js' | relative_url }}" type="text/javascript" language="javascript"></script>
  <script src="{{ '/assets/lib/sigma-network/js/fancybox/jquery.fancybox.pack.js' | relative_url }}" type="text/javascript" language="javascript"></script>
  <script src="{{ '/assets/lib/sigma-network/js/main.js' | relative_url }}" type="text/javascript" language="javascript"></script>

  <link rel="stylesheet" type="text/css" href="{{ '/assets/lib/sigma-network/js/fancybox/jquery.fancybox.css' | relative_url }}"/>
  <link rel="stylesheet" href="{{ '/assets/lib/sigma-network/css/style.css' | relative_url }}" type="text/css" media="screen" />
</head> 
<body>
<div id="container" style="width: 100%; height: 800px; background: rgb(201, 201, 201)">
{{ content }}
</div>
</body>


<!-- test graph
<body>
    <div id="container" style="width: 100%; height: 800px; background: white">{{ content }}</div>
</body>
